<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> Evaluacion Final </div>
    <div id="sidebar" class="list-group list-group-flush">
      <a th:href="@{/crearcapacitacion}" class="list-group-item list-group-item-action bg-light"> CREAR CAPACITACION </a>
      <a th:href="@{/planificarvisita}" class="list-group-item list-group-item-action bg-light"> PLANIFICAR VISITA </a> 
      <a th:href="@{/revisarcliente}" class="list-group-item list-group-item-action bg-light"> REVISAR CLIENTE </a> 
      <a th:href="@{/crearcasodeasesoria}" class="list-group-item list-group-item-action bg-light"> ASESORIA </a> 
      <a th:href="@{/ingresarmejora}" class="list-group-item list-group-item-action bg-light"> INGRESAR MEJORA </a> 
      <a th:href="@{/revisarmejora}" class="list-group-item list-group-item-action bg-light"> REVISAR MEJORA </a> 
      <a th:href="@{/crearasesoria}" class="list-group-item list-group-item-action bg-light"> ASESORIA </a> 
      <a th:href="@{/crearchecklist}" class="list-group-item list-group-item-action bg-light"> CREAR CHECKLIST </a> 
      <a th:href="@{/responderchecklist}" class="list-group-item list-group-item-action bg-light"> RESPONDER CHECKLIST </a> 
    </div>
  </div>