 <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> Administrador </div>
        <div id="sidebar" class="list-group list-group-flush">
          <a th:href="@{/verprofesional}" class="list-group-item list-group-item-action bg-light"> PROFESIONALES </a>
          <a th:href="@{/vercliente}" class="list-group-item list-group-item-action bg-light"> CLIENTES </a> 
          <a th:href="@{/verpagos}" class="list-group-item list-group-item-action bg-light"> PAGOS </a>
          <a th:href="@{/veraccidentabilidad}" class="list-group-item list-group-item-action bg-light"> ACCIDENTABILIDAD </a>
          <a th:href="@{/veractividad}" class="list-group-item list-group-item-action bg-light"> ACTIVIDADES </a>
            <a th:href="@{/vervisita}" class="list-group-item list-group-item-action bg-light"> VISITAS </a>
        </div>
      </div>