 <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> Administrador </div>
        <div id="sidebar" class="list-group list-group-flush">
          <a th:href="@{/verprofesional}" class="list-group-item list-group-item-action bg-light"> PROFESIONALES </a>
          <a th:href="@{/vercliente}" class="list-group-item list-group-item-action bg-light"> CLIENTES </a> 
          <a th:href="@{/pagos}" class="list-group-item list-group-item-action bg-light"> PAGOS </a> 
          <a th:href="@{/accidentabilidad}" class="list-group-item list-group-item-action bg-light"> ACCIDENTABILIDAD </a> 
          <a th:href="@{/actividad}" class="list-group-item list-group-item-action bg-light"> ACTIVIDADES </a>
        </div>
      </div>