<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
    <script th:src="@{js/jquery.min.js}"></script>
</head>

<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebarp :: div">
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Navbar -->
        <nav th:replace="/fragments/navbar :: nav">
        </nav>

        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/crearcapacitacion}">CREAR CAPACITACIÓN</a>
                </li>
            </ul>
            <div class="container">
                <div class="row mt-5">
                    <div class="col col-md-1"></div>
                    <div class="col col-md-10">
                        <form method="post" th:action="@{/crearactividad}">
                            <div class="form-group">
                                <label for="idActividad">Id asesoria</label>
                                <input type="number" class="form-control" id="idActividad" name="idActividad">
                            </div>
                            <div class="form-group">
                                <label for="fechaActividad">Fecha y Hora</label>
                                <input type="text" class="form-control" id="fechaActividad" name="fechaActividad">
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripcion</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion">
                            </div>
                            <div class="form-group">
                                <label for="cliente">Nombre cliente</label>
                                <select class="form-control" id="cliente" name="cliente" >
                                    <option th:each="cliente : ${clientes}"
                                            th:value="${cliente.getUsername()}"
                                            th:text="${cliente.getUsername()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="profesional">Nombre profesional</label>
                                <select class="form-control" id="profesional" name="profesional" >
                                    <option th:each="profesional : ${profesionales}"
                                            th:value="${profesional.getUsername()}"
                                            th:text="${profesional.getUsername()}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success mt-3">Enviar</button>
                        </form>
                    </div>
                    <div class="col col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<!-- Bootstrap core JavaScript -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/sweetalert2.js}"></script>
<script th:src="@{js/custom.js}"></script>
</body>
</html>