<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/headers :: head">

</head>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebara :: div">
    </div>

    <!-- Contenido -->
    <div id="page-content-wrapper">

        <!-- Navbar -->
        <nav th:replace="/fragments/navbar :: nav">
        </nav>

        <div class="container-fluid"> <!-- BODY LOL -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/verprofesional}">VER PROFESIONALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/nuevoprofesional}">NUEVO PROFESIONAL</a>
                </li>
            </ul>
            <div class="container">
                <div class="row mt-5">
                    <div class="col col-md-1"></div>
                    <div class="col col-md-10">
                        <form action="#"
                              th:action="@{/editarprofesional/{username}(username=${usuario.getUsername()})}"
                              th:object="${usuario}"
                              method="post">
                            <div class="form-group">
                                <label for="username">Username profesional</label>
                                <input type="text" class="form-control" id="username" name="username" th:field="*{username}">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña profesional</label>
                                <input type="text" class="form-control" id="password" name="password" th:field="*{password}">
                            </div>
                            <div class="form-group">
                                <label for="enabled">Acceso profesional</label>
                                <input type="boolean" class="form-control" id="enabled" name="enabled" th:field="*{enabled}">
                            </div>
                            <div class="form-group">
                                <label for="rut">Rut profesional</label>
                                <input type="text" class="form-control" id="rut" name="rut" th:field="*{rut}">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre profesional</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellido profesional</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
                            </div>
                            <div class="form-group">
                                <label for="tipoUsuario">Tipo Usuario profesional</label>
                                <input type="text" class="form-control" id="tipoUsuario" name="tipoUsuario" th:field="*{tipoUsuario}">
                            </div>
                            <button type="submit" class="btn btn-lg btn-success mt-3">Enviar</button>
                        </form>
                    </div>
                    <div class="col col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
    <!-- Logout form -->
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <!-- Archivos JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </div>
</html>