<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
    <script th:src="@{js/jquery.min.js}"></script>
</head>

<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebar :: div">
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- Navbar -->
        <nav th:replace="/fragments/navbar :: nav">
        </nav>

        <div class="container-fluid"> <!-- BODY LOL -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/verprofesional}">VER PROFESIONALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/nuevoprofesional}">NUEVO PROFESIONAL</a>
                </li>
            </ul>
            <div class="container">
                <div class="row mt-5">
                    <div class="col col-md-1"></div>
                    <div class="col col-md-10">
                        <form method="post" th:action="@{/crearprofesional}">
                            <div class="form-group">
                                <label for="username">Username profesional</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña profesional</label>
                                <input type="text" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="enabled">Acceso profesional</label>
                                <input type="boolean" class="form-control" id="enabled" name="enabled">
                            </div>
                            <div class="form-group">
                                <label for="rut">Rut medico</label>
                                <input type="text" class="form-control" id="rut" name="rut">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre medico</label>
                                <input type="text" class="form-control" id="nombre" name="nombre">
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellido medico</label>
                                <input type="text" class="form-control" id="apellido" name="apellido">
                            </div>
                            <div class="form-group">
                                <label for="tipoUsuario">Tipo Usuario profesional</label>
                                <input type="text" class="form-control" id="tipoUsuario" name="tipoUsuario">
                            </div>
                            <button type="submit" class="btn btn-lg btn-success mt-3">Enviar</button>
                        </form>
                    </div>
                    <div class="col col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<!-- Bootstrap core JavaScript -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/sweetalert2.js}"></script>
<script th:src="@{js/custom.js}"></script>
</body>
</html>