<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebara :: div">
    </div>

    <!-- Contenido -->
    <div id="page-content-wrapper">

        <!-- Navbar -->
        <nav th:replace="/fragments/navbar :: nav">
        </nav>

        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/verprofesional}">VER PROFESIONALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/nuevoprofesional}">NUEVO PROFESIONAL</a>
                </li>
            </ul>

            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Rut </th>
                    <th> Editar </th>
                    <th> Eliminar </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${profesionales.isEmpty()}">
                    <td colspan="8"> No hay profesionales registrados </td>
                </tr>
                <tr th:each="profesional : ${profesionales}">
                    <td><span th:text="${profesional.getUsuario().getNombre()}"></span></td>
                    <td><span th:text="${profesional.getUsuario().getApellido()}"></span></td>
                    <td><span th:text="${profesional.getUsuario().getRut()}"></span></td>
                    <td><a class="btn btn-warning" role="button" th:href="@{/editar/{username}(username=${profesional.getUsuario().getUsername()})}">Editar</a></td>
                    <td><form th:method="delete" action="#" th:action="@{'/borrarprofesional/{username}'(username=${profesional.getUsuario().getUsername()})}">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- Logout form -->
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <!-- Archivos JavaScript -->
    <script th:src="@{js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/custom.js}"></script>

    </body>
</html>