<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
</head>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebara :: div">
    </div>

    <!-- Contenido -->
    <div id="page-content-wrapper">

        <!-- Navbar -->
        <nav th:replace="/fragments/navbar :: nav">
        </nav>

        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/vervisita}">VER VISITAS</a>
                </li>
            </ul>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th> Id Visita</th>
                    <th> Descripcion </th>
                    <th> Fecha </th>
                    <th> Cliente </th>
                    <th> Profesional </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${visitas.isEmpty()}">
                    <td colspan="8"> No hay visitas registradas </td>
                </tr>
                <tr th:each="visita : ${visitas}">
                    <td><span th:text="${visita.getIdVisita()}"></span></td>
                    <td><span th:text="${visita.getDescripcion()}"></span></td>
                    <td><span th:text="${visita.getFecha()}"></span></td>
                    <td><span th:text="${visita.getCliente().getUsername()}"></span></td>
                    <td><span th:text="${visita.getProfesional().getUsername()}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- Logout form -->
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <!-- Archivos JavaScript -->
    <script th:src="@{js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/custom.js}"></script>

</div>
</html>